.wp-block-social-links {
	&.has-small-icon-size {
		font-size: var(--wp--preset--font-size--small);

		span,
		span:not(.screen-reader-text) {
			font-size: var(--wp--preset--font-size--small);
		}
	}

	&.has-normal-icon-size {
		font-size: var(--wp--preset--font-size--body);

		span,
		span:not(.screen-reader-text) {
			font-size: var(--wp--preset--font-size--body);
		}
	}

	&.has-large-icon-size {
		font-size: var(--wp--preset--font-size--h-5);

		span,
		span:not(.screen-reader-text) {
			font-size: var(--wp--preset--font-size--h-5);
		}
	}

	&.has-huge-icon-size {
		font-size: var(--wp--preset--font-size--h-4);

		span,
		span:not(.screen-reader-text) {
			font-size: var(--wp--preset--font-size--h-4);
		}
	}

	.wp-block-social-link {
		&:hover {
			transform: none;
		}
	}

	@media (max-width: 480px) {
		gap: 16px;

		.wp-social-link svg {
			width: 1.777rem !important;
			height: 1.777rem !important;
		}

		.wp-block-social-link-label {
			display: none;
		}
	}
}
