.wp-block-social-links {
	.wp-block-social-link {
		a {
			/* TODO: These are copied from links.css, make them the same. */
			font-size: var(--wp--preset--font-size--body);
			text-decoration: underline
				color-mix(
					in srgb,
					var(--wp--preset--color--white) 75%,
					var(--wp--preset--color--black) 25%
				)
				0.12em !important;

			&:hover,
			&:focus,
			&:active {
				outline: none;
				text-decoration: underline currentColor 0.12em !important;
			}

			span,
			span:not(.screen-reader-text) {
				font-size: var(--wp--preset--font-size--body);
			}
		}

		&:hover {
			transform: none;
		}
	}

	@media (max-width: 480px) {
		.wp-block-social-link-label {
			display: none;
		}
	}
}
