/* Global Styles
---------------------------------------------------------------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 18px;
}

b,
strong {
	font-weight: var(--wp--custom--font-weight--bold);
}

p {
	text-wrap: pretty;
}

code {
	margin: 0 2px;
	padding: 2px 4px;
	font-family: var(--wp--preset--font-family--monospace);
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--black);
}
