/* Global Styles
---------------------------------------------------------------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 18px;
}

a,
button,
input:focus,
input[type="button"],
input[type="submit"],
textarea:focus,
.wp-element-button {
	transition: all 0.2s ease-in-out;
}

b,
strong {
	font-weight: var(--wp--custom--font-weight--bold);
}

code {
	margin: 0 2px;
	padding: 2px 4px;
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--black);
}
