a,
.wp-block-navigation-item a {
	text-decoration: underline
		color-mix(
			in srgb,
			var(--wp--preset--color--white) 75%,
			var(--wp--preset--color--black) 25%
		)
		0.12em;
	text-underline-offset: 0.1em;
	/* transition: text-decoration 1s; */

	&:hover,
	&:focus,
	&:active {
		outline: none;
		text-decoration: underline currentColor 0.12em;
	}

	&:focus-visible {
		outline: 3px dashed currentColor;
		outline-offset: 2px;
	}
}
