a,
button,
.wp-block-navigation-item a,
.wp-block-social-links .wp-block-social-link a {
	text-decoration-line: underline;
	text-decoration-color: color-mix(
		in srgb,
		var(--wp--preset--color--white) 75%,
		var(--wp--preset--color--accent) 25%
	);
	text-decoration-thickness: 0.12em;
	text-underline-offset: 0.1em;
	transition: text-decoration-color 250ms;

	&:hover,
	&:focus,
	&:active {
		/*
		  WordPress sets text-decoration: none again here,
		  so we need to repeat ourselves... why WordPress...
		*/
		text-decoration-line: underline;
		text-decoration-color: color-mix(
			in srgb,
			var(--wp--preset--color--white) 75%,
			var(--wp--preset--color--accent) 25%
		);
		text-decoration-thickness: 0.12em;
		text-underline-offset: 0.1em;
		text-decoration-color: var(--wp--preset--color--accent);
	}

	&:focus-visible {
		outline: 3px dashed currentColor;
		outline-offset: 2px;
	}
}
